.reviewTitle {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.input {
    display: block;
}

/* .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.reviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 38px 2px rgb(73 114 152 / 10%);
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.review,
.input {
    padding: 3px 5px;
    margin-bottom: 10px;
    width: 400px;
}

.review:focus,
.input:focus {
    outline: none;
}

.btn {
    display: block;
    background-color: var(--text-color);
    color: white;
    widows: 100px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    color: white;
    background-color: var(--text-color-hover);
}

.reviewsList {
    margin-top: 40px;
}

.reviewsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}


@media (max-width: 1400px) {
    .reviewsList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 991px) {
    .reviewsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .reviewsList {
        grid-template-columns: 1fr;
    }

    .reviewsContainer {
        width: 100%;
    }

    .review,
    .input {
        width: 300px;
    }
}