.first {}

.image {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border-radius: 50%;
    background-image: url(../../../public/image/4block/3.PNG);
    background-size: cover;
    background-position: center;
    float: left;
}

.text {}