@import "../../../variables/variables.scss";

.cardWrapper {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: $shadow;
    height: 130px;
    align-items: center;
}

.first {
    margin-right: 10px;
}

.title {
    font-weight: bold;
}