@import "../../variables/variables.scss";

.wrapper {
    margin-top: 40px;
    height: 350px;
    box-shadow: $shadow2;
    margin-bottom: 40px;
}

.ymaps-2-1-79-map:first-child {
    display: none;
}